.repos {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }

  .content {
    display: block;
  }

  .meta {
    color: #999;
    a {
      color: #999;
    }
  }
}